@import "./styles/reset.scss";
@import "./styles/variables.scss";
@import "./styles/header.scss";
@import "./styles/modal.scss";
* {
    font-family: $fontNormal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $default;
}
.hidden {
    display: none;
}