.default-page {
    margin: 60px auto 0 auto;
    padding: 40px 0;
    width: 70%;
    max-width: 1100px;
    &-paragraph {
        line-height: 1.5;
        padding: 20px 0;
        text-align: justify;
    }
    &-heading {
        font-family: $fontMedium;
        font-size: 32px;
        padding: 0 0 20px 0;
        &_small {
            font-size: 24px;
        }
    }
    &-quote {
        padding: 20px 20px 40px 20px;
        line-height: 1.5;
        font-family: $fontMedium;
        text-align: justify;
        &::before {
            content: '＂';
            display: inline-block;
            font-size: 32px;
            font-variant: all-petite-caps;
        }
        &::after {
            content: '＂';
            display: inline-block;
            font-size: 32px;
            font-variant: all-petite-caps;
            position: absolute;
            padding: 0 6px;
        }
    }
}