footer {
    @include font;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 40px;
    padding: 10px 0;
    position: fixed;
    border: solid 1px #dbdbdb;
    background-color: #fff;
    box-shadow: 0px -4px 5px -1px #9e959e;

    .navigation {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: inherit;
        width: 100%;
        &-aboutUs {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        &-contacts {
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                border-bottom: 1px solid;
                transition: all linear .3s;
            }
            &:hover::after {
                width: 100%;
            }
            a {
                text-decoration: none;
            }
        }
        &-pages {
            position: relative;
            height: 0;
            overflow: hidden;
            flex-direction: column;
            transition: all linear .3s;
            li {
                display: block;
                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 3px;
                    border-bottom: 1px solid;
                    transition: all linear .3s;
                }
                &:hover::after {
                    width: 80%;
                }
                a {
                    text-decoration: none;
                }
            }
            &:hover {
                height: 60px;
            }
        }
        &-hide {
            &:hover .navigation-pages {
                height: 60px;
            }
        }
    }
}