.modal {
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    &_overflow {
        overflow-y: auto;
    }

    &-content {
        position: relative;
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #fff;
        max-width: 450px;
    }
    &-close {
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: 26px;
        font-weight: bold;
        cursor: pointer;
    }
    &-heading {
        font-size: 30px;
        padding-top: 12px;
        text-align: center;
    }
}