.user {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: transparent;
    &-pic {
        height: 300px;
        width: 300px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        border: 4px solid $white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-pic-small {
        height: 200px;
        width: 200px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-wallpaper {
        width: 100vw;
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(70, 72, 74, .3);
        background-size: cover;
        display: flex;
        justify-content: center;
        &-btn {
            position: relative;
            z-index: 20;
            top: 50px;
        }
    }
    &-btn {
        position: relative;
    }
    &-edit_cover {
        position: relative;
        text-align: center;
    }
    &-profile-link {
        font-family: $fontMedium;
        font-size: 20px;
        border: none;
        background: transparent;
        border-bottom: 1px solid;
        cursor: pointer;
    }
    &-info {
        margin: 50vh auto 0 auto;
        width: 60%;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
        }
    }
    &-name {
        font-size: 46px;
        padding: 20px 0;
    }
    &-posts-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 50px;
    }
}